.page__settings {
  min-width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  margin: 30px;
}

.settings__title {
  margin: 0 0 32px;
}

.page-count-setting__label {
  vertical-align: top;
  margin-left: 10px;
  font-size: 20px;
}
